<div class="container">
<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<h3><%= @flat.description %></h3>
<h5>Maximum guests:<%= @flat.number_of_guests %></h5>
<h3>Price: <%= @flat.price_per_night %> €</h3>
</div>
